.party-mini button {
  min-height: 82px;
  padding: 3px;
}

.party-mini img {
  display: block;
  width: 100%;
  height: 45px;
  margin-bottom: 2px;
  object-fit: cover;
  object-position: center 25%;
}

.party-list button {
  position: relative;
  min-height: 58px;
  padding: 6px 10px 6px 66px;
}

.party-list img {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 48px;
  height: 48px;
  object-fit: cover;
  object-position: center 25%;
}
